<div class="w-full text-lg grid grid-cols-5 grid-rows-1 mb-4">
  <div class="ml-4">Zdjęcie</div>
  <div class="ml-4">Nazwa</div>
  <div>Cena</div>
  <div>Link do sklepu</div>
  <div>Kategoria</div>
</div>
<tui-scrollbar class="scroll-categories-admin-container-height">
  <div *ngFor="let part of filteredParts"
       class="border mb-4 rounded-2xl w-full h-28 grid grid-cols-5 hover:shadow">
    <div class="w-1/2 h-full flex items-center">
      <img class="ml-4 w-1/2 h-1/2 rounded" *ngIf="part.photoUrl" [src]="part.photoUrl" alt="kot">
      <p class="text-xl my-auto ml-4" *ngIf="!part.photoUrl">Brak</p>
    </div>
    <p class="text-xl my-auto ml-4 truncate w-5/6">{{ part.name }}</p>
    <p class="text-xl my-auto">{{ part.price ? convertPrice(part.price) : 'Nieznane' }}</p>
    <div class="my-auto w-5/6 flex">
      <img class="mr-2 w-16 h-8 rounded" *ngIf="!part.shopImage" [src]="part.shopImage" alt="shopImg">
      <p class="text-xl" *ngIf="part.shopUrl">
        <a tuiLink target="_blank" [href]="part.shopUrl">Link do sklepu</a>
      </p>
    </div>
    <div class="my-auto flex justify-between">
      <p class="text-xl my-auto">{{ mapCategoryIdIntoName(part.categoryId) }}</p>
      <div class="mr-4">
        <app-combo-menu [part]="part"/>
      </div>
    </div>
  </div>
</tui-scrollbar>
