<img class=" ml-4 cursor-pointer w-32" routerLink="creator" src="assets/logo.png" alt="logo">
<div class="flex">
  <div class="mr-2">
    <button
        tuiIconButton
        type="button"
        routerLink="help"
        appearance="flat">
      <tui-svg src="tuiIconHelpCircleLarge"/>
    </button>
  </div>
  <div *ngIf="!userLogged">
    <button class="mr-3"
            appearance="outline"
            tuiButton
            type="button"
            (click)="showFormDialog(true)"
    >
      Zaloguj
    </button>
    <button
        appearance="primary"
        tuiButton
        type="button"
        (click)="showFormDialog(false)"
    >
      Rejestracja
    </button>
  </div>
  <div *ngIf="userLogged">
    <button
        routerLink="creator"
        class="mr-3"
        appearance="secondary"
        tuiButton>
      Dodaj konfiguracje
    </button>
    <button
      routerLink="my-setups"
      class="mr-3"
      appearance="secondary"
      tuiButton>
      Zapisane konfiguracje
    </button>
    <button
        *ngIf="userRole===UserRole.ADMIN"
        routerLink="admin-panel"
        tuiButton
        class="mr-3"
        appearance="primary">
      Panel Administratora
    </button>
    <button
        (click)="logout()"
        tuiButton
        appearance="accent">
      Wyloguj
    </button>
  </div>
</div>
